<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <div>
      <% if current_user.nil? %>
        <%= link_to 'Sign up', new_user_url %>
        <%= link_to 'Sign in', new_session_url %>
      <% else %>
        <%= current_user.email %>
        <%= button_to 'Logout', session_url, method: :delete %>
      <% end %>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
